/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

//========================================== шрифты
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
//==========================================
//font-family: 'Open Sans', sans-serif; основной
//font-family: 'Rubik', sans-serif;  только первый заголовок


body{
	font-family: 'Open Sans', sans-serif;
}
._container{
	max-width: 940px;
	margin: 0px auto;
}
.button {
	background: #00A4E5;
	width: 165px;
	height: 40px;
	padding: 14px 29px 11px 35px;
	display: flex;
	text-transform: uppercase;
	color: #fff;
	font-weight: 700;
	font-size: 13px;
	letter-spacing: 0.5px;
	transition: 0.4s;
	&:hover{
		background: #004880;
	}
}
//==========================================
//========================================== первый экран
.first-screen {
	background: url(../img/bg.jpg) center/cover no-repeat;
	display: flex;
	justify-content: center;
	padding: 0 0 70px 0;
	position: relative;
}
.first-screen__content {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1 1 33.333%;
}
.first-screen__loggo {
	padding: 40px 0 0 0;
	img{
		width: 100px;
		height: 23px;
	}
}
.first-screen__text {
	padding: 300px 0 0px 0;
	margin: 0 0 220px 0;
	h1{
		font-size: 60px;
		font-weight: 400;
		letter-spacing: 6px;
		text-transform: uppercase;
		color: #fff;
		font-family: 'Rubik', sans-serif;
		margin: 0 0 20px 0;
	}
	p{
		font-size: 16px;
		font-weight: 600;
		color: #fff;
		display: flex;
		justify-content: center;
		flex: 1 1 auto;
	}
}
.first-screen__pointer {
	color: #fff;
	font-weight: 600;
	font-size: 11px;
	letter-spacing: 4.5px;
	text-transform: uppercase;
}
//==========================================
//========================================== навигация
.menu__container {
	min-height: 65px;
	display: flex;
	justify-content: space-between;
	border-bottom: solid 1px #E6E6E6;
	background: #fff;
	.menu__nav {
		display: flex;
	}
	.menu__nav_item {
		margin: 29px 40px 0 0;
		font-size: 12px;
		line-height: 1px;
		font-weight: 600;
		color: #48555B;
		transition: all 0.2s ease 0s;
		&:last-child{
			margin: 29px 0px 0 0;
		}
	}
	.menu__nav_item:hover {
		color: #00A4E5;
		border-bottom: solid 2px #00A4E5;
	}
}
//============================ навигация лого
.menu__logo {
		img{
		width: 80px;
		height: 18px;
		margin: 24px 40px 0 0;
	}
}
//========================================
//========================================== наша история
.our-story__container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 60px 0 0 0;
}
.our-story__title {
	display: flex;
	flex-direction: column;
	align-items: center;
	p{
		border-bottom: solid 2px #00A4E5;
		width: 50px;
		margin-top: 10px;
	}
	h3{
		font-size: 18px;
		font-weight: 700;
		letter-spacing: 2.3px;
		color: #48555B;
		text-transform: uppercase;
	}
}
.our-story__body {
	display: flex;
	padding: 60px 0 100px 0;
	justify-content: space-between;
}
.our-story__body__text {
	display: flex;
	flex: 0 0 50%;
	flex-direction: column;
	padding: 0 38.5px 0 0;
	.lable {
		font-size: 20px;
		font-weight: 700;
		letter-spacing: 0.2px;
		color: #48555B;
		span{
			color: #16ACE8;
		}
	}
	.text{
		margin: 30px 0 0 0;
		font-size: 13px;
		line-height: 23px;
		letter-spacing: 0.2px;
		color: #48555B;
	}
}
.our-story__body__cards {
	display: flex;
	flex: 0 0 50%;
	justify-content: flex-end;
}
.our-story__body__cards_item {
	position: relative;
	width: 140px;
	height: 224px;
	margin: 0 20px 0 0;
	p{
		position: relative;
		font-weight: 800;
		font-size: 24px;
		line-height: 29px;
		letter-spacing: 0.2px;
		color: #fff;
		text-transform: uppercase;
		padding: 15px 0 0 15px;
		z-index: 2;
	}
	img{
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
	}
	&:last-child{
		margin: 0 0;
	}
}
//==========================================
//==========================================capabilities
.capabilities__container {}
.capabilities__head {
	display: flex;
	justify-content: space-between;
}
.title__container {
	h3{
	font-weight: 700;
	font-size: 18px;
	letter-spacing: 2.3px;
	text-transform: uppercase;
	color: #48555B;
	}
}
.line {
	border-bottom: solid 2px #00A4E5;
	width: 50px;
	margin-top: 10px;
}
.capabilities__head_text-btn {
	display: flex;
	justify-content: space-between;
}
.capabilities__head_text {
	font-size: 11px;
	line-height: 19px;
	letter-spacing: 0.2px;
	font-weight: 400;
	max-width: 400px;
	color: #48555B;
	margin: 0 30px 0 0;
}
.capabilities__cards__container {
	display: flex;
	padding: 80px 0 0 0;
	justify-content: space-between;
}
.capabilities__cards_item {
	display: flex;
	flex-direction: column;
	max-width: 295px;
	border: solid 1px #E6E6E6;
	padding: 38px 20px 39px 23px;
	color: #48555B;
	img{
		width: 70px;
		height: 75px;
		margin: 0 0 25px 0;
	}
}
.label {
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.4px;
	text-transform: uppercase;
}
.text {
	font-weight: 400;
	font-size: 13px;
	line-height: 23px;
	letter-spacing: 0.2px;
	margin: 13px 0 0 0;
}
//==========================================
//==========================================GET IN TOUCH
.Want-to-build__bg-block {
	background: url(../img/bg-bot.jpg) center/cover no-repeat;	
}
.Want-to-build__content {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 120px 0 231px 0;
}
.Want-to-build__content_title {
	margin: 0 0 35px 0;
	p{
		font-weight: 700;
		font-size: 30px;
		line-height: 36px;
		letter-spacing: 0.15px;
		color: #48555B;
		max-width: 350px;
		text-align: center;
	}
}
//==========================================
//==========================================signup

.Signup__container {
	background: #171819;
}
.Signup__content {
	display: flex;
	justify-content: space-around;
	padding: 30px 0;
}
.Signup__content_text {
	p{
		font-weight: 700;
		font-size: 22px;
		letter-spacing: 0.85px;
		color: #fff;
	}
}
form{
	display: flex;
	position: relative;
	input{
		width: 250px;
		height: 40px;
		border: solid 1px #979797;
		padding: 10px 0 10px 16px;
	}
}
form .button{
		background: #00A4E5;
		width: 165px;
		height: 40px;
		padding: 11px 0 11px 58px;
		display: flex;
		text-transform: uppercase;
		color: #fff;
		font-weight: 700;
		font-size: 13px;
		letter-spacing: 0.5px;
		position: relative;
		transition: 0.4s;
	}
//==========================================
//==========================================footer
footer{
	background: #141A20;
}
.footer__container {
	display: flex;
	flex: 0 0 25%;
	justify-content: space-between;
	padding: 45px 0;
}
//==========================================footer_logo
.footer__logo {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex: 0 0 25%;
	.footer__logo_lable {
		font-weight: 400;
		font-size: 11px;
		letter-spacing: 0.85px;
		color: #fff;
		text-transform: uppercase;
	}
	.footer__logo_logo {
		img{
			width: 100px;
			height: 23px;
		}
	}
	.footer__logo_text {
		font-weight: 400;
		font-size: 11px;
		letter-spacing: 0.85px;
		line-height: 19px;
		color: #fff;
	}
}
//==========================================
//==========================================footer__menu
.footer__menu {
	display: flex;
	flex: 0 0 25%;
	justify-content: space-between;
	position: relative;
	p{
		position: absolute;
		top: 0;
		left: 0;
		font-weight: 700;
		font-size: 11px;
		letter-spacing: 0.85px;
		text-transform: uppercase;
		color: #fff;
	}
}
.footer__menu_list {
	display: flex;
	flex-direction: column;
	align-items: space-between;
	padding: 20px 0 0 0;
	li{
		font-weight: 400;
		font-size: 11px;
		line-height: 25px;
		letter-spacing: 0.85px;
		text-transform: uppercase;
		color: #fff;
		transition: all 0.5s 0s;
		&:hover{
			color: #00A4E5;
		}
	}
}
//==========================================
//==========================================footer__contacts
.footer__contacts {
	display: flex;
	flex: 0 0 25%;
	flex-direction: column;
	justify-content: space-between;
	font-weight: 400;
	font-size: 11px;
	letter-spacing: 0.85px;
	line-height: 16px;
	color: #fff;
	max-width: 130px
}
.footer__contacts_lable {
	font-weight: 700;
	font-size: 11px;
	letter-spacing: 0.85px;
	color: #fff;
	text-transform: uppercase;
}
.footer__contacts_phone {
	color: #fff;
	transition: all 0.5s 0s;
	&:hover{
		color: #00A4E5;
	}
}
.footer__contacts_email {
	color: #fff;
	transition: all 0.5s 0s;
	&:hover{
		color: #00A4E5;
	}
}
//==========================================
//==========================================footer__socials
.footer__socials {
	display: flex;
	flex-direction: row;
	flex: 0 0 10%;
	justify-content: space-between;
	padding: 0 10px 0 0;
	margin: 0 0 0 -60px;
	a{
		img{
			width: 16px;
			height: 16px;
		}

	}
}
//==========================================
//==========================================copyrights
.copyrights {
	background: #171819;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	p{
		font-weight: 400;
		font-size: 11px;
		letter-spacing: 0.85px;
		color: #fff;
	}
	
}
//==========================================